{% extends "base.html" %}

<title>{{blogname}} | {{title}}</title>


{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row-g3">

        <div class="col-auto">
            <span id="headerHelpInline" class="form-text">
              Header must be 1-128 characters long
            </span>
          </div>
        <div class="col-sm-4 mb-3">
            {{ form.header }}
        </div>
        <div id="contentHelpBlock" class="form-text">
            You can add a description of your achievement
        </div>
        <div class="col-sm-8 mb-3">
            {{ form.body }}
        </div>
        <div id="contentHelpBlock" class="form-text">
            You can add an image to you achievement
        </div>
        <div class="col-sm-4 mb-3">
            {{ form.image }}
        </div>
        <div id="contentHelpBlock" class="form-text">
            Is the achievement active? You can hide the achievement's visibility here. But be careful: to make the achievement visible again, you'll need to visit the admin panel
        </div>
        <div class="col-sm-7 mb-3">
            {{ form.is_active }}
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Create</button>
</form>
{% endblock content %}
