{% extends "base.html" %}

<title>{{blogname}} | {{title}}</title>

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mt-3">
        <h1 class="display-6">{{ ach.header }}</h1>
        <div>
            <i class="bi bi-calendar me-2"></i><span class="fw-lighter me-1">Created on {{ach.date_created|date:"d F Y"}} at {{ach.date_created|time:"H:i"}}</span>
            {% if request.user.is_authenticated%}
            <i class="bi bi-pencil me-1"></i><a class="link-dark" href="{{ ach.get_update_url }}"><span class="fw-lighter me-1">Edit</span></a>
            <i class="bi bi-trash me-1"></i><a class="link-dark" href="{{ ach.get_delete_url }}"><span class="fw-lighter me-1">Delete</span></a>
            {% endif %}
            <br>
        </div>        
        <div class="content">
            <p class="font-monospace">{{ ach.body}}</p>
        </div>
        <div class="image-content">
            {%if ach.image %}<img src="{{ ach.image.url }}" class="img-thumbnail">{% endif %}
        </div>
    </div>
    
{% endblock content %}