{% extends "base.html" %}

{% block content %}
    <div style="display: flex; align-items: flex-start; flex-wrap: wrap;">
        {% if bio.image %}
        <img src="{{ bio.image.url }}" class="img-thumbnail" alt="Avatar" style="width: 200px; height: auto; margin-right: 20px;">
        {% endif %}
        <div style="flex: 1; min-width: 200px;">
            {% if request.user.is_authenticated%}
            <i class="bi bi-pencil me-1"></i><a class="link-dark" href="{% url 'bio-update' %}"><span class="fw-lighter me-1">Edit Bio</span></a>
            <i class="bi bi-trash me-1"></i><a class="link-dark" href="{% url 'bio-delete' %}"><span class="fw-lighter me-1">Delete Bio</span></a>
            <i class="bi bi-calendar me-2"></i><span class="fw-lighter me-1">Updated on {{bio.date_updated|date:"d F Y"}} at {{bio.date_updated|time:"H:i"}}</span>
            {% endif %}
            <div class="markdown-content">
                <p>{{ bio.body|safe }}</p>
            </div>
        </div>
    </div>
    <!--Recaptcha-->
    <form method="post">
        {% csrf_token %}
        {{ recaptcha_form.captcha }}     
    </form>
{% endblock content %}
