{% extends "base.html" %}

{% block content %}
    <div style="display: flex; align-items: flex-start; flex-wrap: wrap;">
        {% if bio.image %}
        <img src="{{ bio.image.url }}" class="img-thumbnail" alt="Avatar" style="width: 200px; height: auto; margin-right: 20px;">
        {% endif %}
        <div style="flex: 1; min-width: 200px;">
            {% if request.user.is_authenticated%}<a class="link-dark" href="{% url 'bio-update' %}">Edit Bio</a>{% endif %}
            <p>{{ bio_markdown|safe }}</p>
             
        </div>
    </div>
{% endblock content %}
