{% extends "base.html"%}
{% block title %}<title>{{blogname}} | {{post.header}}</title>{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mt-3">
        <h1 class="display-6">{{ post.header }}</h1>
        <div class="bg-light">
            <i class="bi bi-eye me-1"></i><span class="fw-lighter me-1">{{post.views}}</span>
            <i class="bi bi-calendar me-2"></i><span class="fw-lighter me-1">{{post.date_created|date:"d F Y"}} at {{post.date_created|time:"H:i"}}</span>
            {% if request.user.is_authenticated%}
            <i class="bi bi-pencil me-1"></i><a class="link-dark" href="{{ post.get_update_url }}"><span class="fw-lighter me-1">Edit Post</span></a>
            <i class="bi bi-trash me-1"></i><a class="link-dark" href="{{ post.get_delete_url }}"><span class="fw-lighter me-1">Delete Post</span></a>
            {% endif %}
        </div>
        <p class="font-monospace">{{ post.body|safe }}</p>
    </div>
    
</div>
{% endblock content %}