{% extends "base.html" %}

{% block content %}
<div class="container-sm row justify-content-center">
    <div class="col-md-6 mt-3">
        <h1 class="display-6">Contents</h1>
        {% if request.user.is_authenticated%}
        <div id="contentHelpBlock" class="form-text">
            You can create a new tag
        </div>
        <div class="col-sm-4 mb-3">
            <a href="{% url 'tag-create' %}" class="btn btn-outline-success">Create a new tag</a>
        </div>
        {% endif %}
        <p class="lead">All tags in alphabet order using in the blog</p>
        {% for tag in tags|dictsort:"name" %}
            <span class="me-1"> <a class="link-light bg-secondary" href="{{tag.get_absolute_url}}">&nbsp; {{ tag.name }} &nbsp;</a></span>
        {% endfor %}
        <hr>
    </div>
    
</div>
{% if not posts %}
<div class="container-sm row justify-content-center">
    <div class="col-md-6 mt-3">
        <p class="lead">Author does not have any posts yet...</p>
    </div>
</div>

{% else %}
{% for post in posts %}
<div class="container-sm row justify-content-center">
    <div class="col-md-6 mt-3">
        <a class="link-dark text-decoration-none" href="{{ post.get_absolute_url }}"><h3>{{post.header}}</h2></a>
        <div>
            <i class="bi bi-eye me-1"></i><span class="fw-lighter me-1">{{post.views}}</span>
            <i class="bi bi-calendar me-2"></i>
            <span class="fw-lighter me-1">Created on {{ post.date_updated|date:"d F Y" }} at {{ post.date_updated|time:"H:i" }}</span>
            {% if request.user.is_authenticated%}
            <i class="bi bi-pencil me-1"></i><a class="link-dark" href="{{ post.get_update_url }}"><span class="fw-lighter me-1">Edit</span></a>
            <i class="bi bi-trash me-1"></i><a class="link-dark" href="{{ post.get_delete_url }}"><span class="fw-lighter me-1">Delete</span></a>
            {% endif %}
            <br>
            <i class="bi bi-tag me-1"></i>
            {% for tag in post.tags.all|dictsort:"name"%}
            <span class="me-1"><a class="link-light bg-secondary" href="{{tag.get_absolute_url}}">&nbsp; {{ tag.name }} &nbsp;</a></span>
            {% endfor %}
        </div>
        <div class="markdown-content">
            <p class="font-monospace">{{post.get_truncated_body}}</p>
        </div>
        <a class="link-dark text-decoration-none" href="{{ post.get_absolute_url }}"><span class="font-monospace">Continue...</span></a>
        <hr>
    </div>
    
</div>
{% endfor %}
{% endif %}
<div class="pagination">
    <!--Default Django pagination-->
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="link-dark" href="?page=1">&laquo; first</a>
            <a class="link-dark" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current lead">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="link-dark" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="link-dark" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<!--Recaptcha-->
<form method="post">
    {% csrf_token %}
    {{ recaptcha_form.captcha }}     
</form>
{% endblock content %}
