{% extends "base.html"%}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mt-3">
        <h1 class="display-6">{{ post.header }}</h1>
        <div class="bg-light">
            <i class="bi bi-eye me-1"></i><span class="fw-lighter me-3">{{post.get_post_views}}</span>
            <i class="bi bi-calendar me-1"></i><span class="fw-lighter">{{post.date_created|date:"d F Y"}} at {{post.date_created|time:"H:i"}}</span>
            {% if request.user.is_authenticated%}<a class="link-dark" href="{{ post.get_update_url }}"><span class="fw-lighter">Edit Post</span></a>{% endif %}
        </div>
        <p class="font-monospace">{{ post_markdown|safe }}</p>
    </div>
    
</div>
{% endblock content %}